* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(47, 88%, 63%);
}
.container {
  max-width: 384px;
  width: 90%;
  border-radius: 22px;
  background: white;
  height: auto;
  position: relative;
  top: 6rem;
  /* left: 39%; */
  margin: auto;
  border: 1px solid;
  font-family: "Figtree", serif;
  box-shadow: 8px 6px 0px 0px rgba(0, 0, 0, 1);
}
.main {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top-section img {
  border-radius: 12px;
}
.learning {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.9rem;
  padding: 1rem 0;
}
.learning p {
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  max-width: max-content;
  border-radius: 6px;
  font-weight: 800;
  padding: 8px 11px;
}
.learning span {
  color: hsl(0, 0%, 42%);
  width: fit-content;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: 0;
  right: 3px;
}
.content h1 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  cursor: pointer;
}
.content h1:active{
color: hsl(47, 88%, 63%);
cursor: pointer;
}
.content p {
  color: hsl(0, 0%, 42%);
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 0;
}
.bottom-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  position: relative;
  right: 88px;
}
.bottom-section img {
  width: 50px;
  height: 50px;
}
.bottom-section span {
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}
@media only screen and (min-width: 1200px) {
  .container {
    /* position: relative;
    top: 7px; */
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    /* position: relative;
    top: 7px; */
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .top-section {
    width: 100%;
  }
  .top-section img {
    width: 100%;
  }
  .bottom-section {
    right: 85px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 95%;
  }
  .top-section {
    width: 100%;
  }
  .top-section img {
    width: 100%;
  }
  .bottom-section {
    position: relative;
    right: 48px;
  }
  .content h1{
    font-size: 20px;
  }
  .content p {
    font-size: 14px;
  }
}
